version: 2

references:
  container_config: &container_config
    docker:
      - image: circleci/node:11
    working_directory: ~/node
  restore_dep_cache: &restore_dep_cache
    restore_cache:
      key: nexx-sdk-deps-{{ checksum "package-lock.json" }}

jobs:
  install:
    <<: *container_config
    steps:
      - checkout
      - *restore_dep_cache
      - run:
          name: Install Dependencies
          command: '[[ -d node_modules ]] || npm install'
      - save_cache:
          key: nexx-sdk-deps-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
  test:
    <<: *container_config
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          key: nexx-sdk-deps-{{ checksum "package-lock.json" }}
      # run tests!
      - run: npm test
  build:
    <<: *container_config
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          key: nexx-sdk-deps-{{ checksum "package-lock.json" }}
      # run tests!
      - run: npm run build
  publish:
    <<: *container_config
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          key: nexx-sdk-deps-{{ checksum "package-lock.json" }}
      # run the build!
      - run: npm publish
          
workflows:
  version: 2
  nexx:
    jobs:
      - install
      - build:
          requires:
            - install
      - test:
          requires:
            - install
      - publish:
          requires:
            - install
            - test
          filters:
            branches:
              only: master
